<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>Pay</string>
		<key>image</key>
		<string>PayIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Add Money</string>
		<key>image</key>
		<string>AddMoneyIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Passbook</string>
		<key>image</key>
		<string>PassBookIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Payment KYC</string>
		<key>image</key>
		<string>PaymentKYCIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Accept Payment</string>
		<key>image</key>
		<string>AcceptPaymentIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Nearby</string>
		<key>image</key>
		<string>NearByIcon</string>
	</dict>
</array>
</plist>
