<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>Mobile</string>
		<key>image</key>
		<string>MobileIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Electricity</string>
		<key>image</key>
		<string>ElectricityIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>DTH</string>
		<key>image</key>
		<string>DTHIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Fees</string>
		<key>image</key>
		<string>FeeIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Gold</string>
		<key>image</key>
		<string>GoldIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Landline</string>
		<key>image</key>
		<string>LandLineIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Metro</string>
		<key>image</key>
		<string>MetroIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Broadband</string>
		<key>image</key>
		<string>BroadBandIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Datacard</string>
		<key>image</key>
		<string>DatacardIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Gas</string>
		<key>image</key>
		<string>GasIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Insurance</string>
		<key>image</key>
		<string>InsuranceIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Loan</string>
		<key>image</key>
		<string>LoanIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Waterr</string>
		<key>image</key>
		<string>WaterIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Petrol</string>
		<key>image</key>
		<string>PetrolIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Dairy Products</string>
		<key>image</key>
		<string>DairyProductIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Toll Tag</string>
		<key>image</key>
		<string>TollTagIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Google Play</string>
		<key>image</key>
		<string>GooglePlayIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Challan</string>
		<key>image</key>
		<string>ChallanIcon</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Municipal Payments</string>
		<key>image</key>
		<string>image</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Delhi Metro Ticket</string>
		<key>image</key>
		<string>MetroIcon</string>
	</dict>
</array>
</plist>
